body{
	background: #eee;
}
.header{
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background: #197ef2;
}
.header-left{
	float: left;
}
.logo{
	margin: 0 30px;
	vertical-align: -11px;
}
.sys-name{
	font-size: 24px;
}
.version{
	margin-left: 30px;
	font-size: 14px;
}
.header-middle{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 60px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
}
.header-right{
	float: right;
}
.site-info,.user-info,.scan-icon{
	float: left;
	font-size: 14px;
}
.site-info{
	height: 60px;
	line-height: 30px;
	margin-right: 50px;
}
.user-info a{
	color: #fff;
}
.line{
	margin: 0 10px;
}
.scan-icon{
	margin: 10px 30px;
}
.content{
	display: flex;
	width: 100%;
	height: 300px;
}
.left-content{
	flex: 3;
	margin: 10px;
}
.content-top{
	display: flex;
	width: 100%;
	height: 55%;
}
.video{
	flex: 3;
	margin: 0 10px 10px;
}
.video-js.vjs-16-9, .video-js.vjs-4-3, .video-js.vjs-fluid{
	height: 100%;
}
.image{
	flex: 3;
	margin: 0 10px 10px;
}
.way-info{
	flex: 2.1;
	margin: 0 10px 10px;
	background: #fff;
}
.way-info p.title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #197ef2;
}
.way-info table{
	width: 100%;
	padding: 5px 10px;
}
.value-td{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border: none;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.opts{
	width: 100%;
	text-align: center;
}
.opts button{
	width: 40%;
	height: 26px;
	line-height: 26px
	margin: 2%;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: #00b7ee;
	cursor: pointer;
}
.split-line{
	height: 10px;
}
.content-bottom{
	width: 100%;
	height: 45%;
}
.content-bottom table{
	width: 100%;
	padding: 0 10px;
}
.content-bottom table th{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	background: #197ef2;
}
.content-bottom table td{
	height: 30px;
	line-height: 30px;
	border-right: ;
	text-align: center;
}
.odd{
	background: #fff;
}
.even{
	background: #d2ecf8;
}
.right-content{
	flex: 1;
	margin: 10px;
}
.status{
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
}
.status p.title,.traffic-info p.title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: #197ef2;
}
.status .line{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
}
.status .line button{
	height: 40px;
	margin: 0 10%;
	padding: 0 10px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
	color: #204672;
	font-size: 18px;
	background: #4d7eb7;
	cursor: pointer;
}
.traffic-info{
	width: 100%;
	height: 100%;
	background: #fff;
}
.traffic-info td{
	font-size: 14px;
}

/*登录窗*/
.mask{
	position: absolute;
	top: 0;
	left: 0;
	align-items:center;/*垂直居中*/
  	justify-content: center;/*水平居中*/
  	width: 100%;
  	height: 100%;
	background: rgba(0,0,0,.6);
}
.login-box{
	overflow: hidden;
	width: 490px;
	height: 290px;
	border-radius: 5px;
	color: #fff;
	background: url(iamges/login_bg.png);
}
.login-title{
	padding: 20px 0;
	text-align: center;
}
.login-title .logo{
	margin-right: 10px;
	vertical-align: -6px;
}
.login-title .sys-name{
	font-size: 18px;
	letter-spacing: 2px;
}
.login-content{
	display: flex;
	height: 200px;
}
.left{
	flex: 1;
	height: 100%;
	padding-top: 35px;
	box-sizing: border-box;
	border-right: 1px solid #fff;
}
.left li,.right li{
	height: 40px;
	line-height: 40px;
}
.left .title{
	display: inline-block;
	width: 90px;
	text-align: right;
}
.left select{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
	background: transparent;
}
.right{
	flex: 1;
	padding-top: 35px;
}
.right li{
	text-align: center;
}
.right li img{
	margin-right: 3px;
	vertical-align: -6px;
}
.right li.pwd img{
	margin: 0 6px 0 3px;
}
.right li input{
	width: 158px;
	height: 24px;
	padding: 0 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #8ABCF7;
}
.right li.login-btn{
	text-align: center;
}
.right li.login-btn button{
	width: 200px;
	height: 24px;
	line-height: 24px;
	border: none;
	border-radius: 5px;
	color: #333;
	background: #fff;
	cursor: pointer;
}
.right li.modify-pwd{
	padding-right: 22px;
	box-sizing: border-box;
	text-align: right;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}